  @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@800;900&family=Hind+Madurai:wght@300;400;500;600;700&family=Raleway:ital,wght@0,700;0,800;1,700;1,800&display=swap');

  body {
    font-family: 'Hind Madurai', sans-serif;
    margin: 0;
  }

/*navbar*/

  .navbar-brand {
    font-family: 'Alegreya Sans SC', sans-serif;
  }

  .navbar {
    background-color: #F1FAEE;
  }

  /*hero carousel*/

  .carousel h2 {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #FF715B;
    font-size: 0.9rem;
    width: 50%;
    position: absolute;
    z-index: 3;
    margin-top: 1rem;
    margin-left: 1rem;
  }

  .carousel img {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  /*#cover-text, #cover-text h2 {
    color: #FF715B;
    font-size: 14px;
  }
  
  #cover-text {
    font-family: 'Alegreya Sans SC', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
  
    width: 180px;
    height: 100px;
  
    padding-top: 10px;
    padding-left: 10px;
  
    background-color: rgba(29, 53, 124, 0.7);
  
    bottom: 240px;
    left: 11px;
  
    position: relative;
  }*/
  
 /*footer*/
  
  footer {
  height: 150px;
  background-color: #F1FAEE;
  }
 
 .footer-about {
    font-size: 150%;
    font-family: 'Alegreya Sans SC', sans-serif;
    text-align: left;
    margin: 13% auto;
    padding: 5%;
    color: #000;
  }

  .social-networks {
    text-align: center;
  }
  
  .social-networks li {
    display: inline;
  }
  .social-networks i {
    font-size: 150%;
    margin: 13% auto;
    padding: 5%;
    color: #FF715B;
  }